<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <script src="/scripts/bundle.js"></script>
  </head>
  <body>
    <h1>Home page (unauthenticated)</h1>

    <ul>
      <li><a href="/">Home</a></li>
    </ul>
  </body>
</html>
